<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membros da Organização</title>
</head>
<body>
    <h1>Membros da Organização {{user.organization}}</h1>
    
    {% if members %}
        <ul>
            {% for member in members %}
                <li>{{ member.username }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Não há membros na organização.</p>
    {% endif %}

</body>
</html>
