{% extends "tasks/base.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "GTV | Logout" %}
{% endblock head_title %}
{% block content %}

{% element p %}
    <div class="container text-center">
        <div style='padding-top: 4%'>
            <div class="row">
                <h3 class="text-primary text-gradient font-weight-bold text-center">
                    {% if request.user.first_name %}
                        {{ request.user.first_name }},
                    {% else %}
                        {{ request.user.email }}    
                    {% endif %}
                </h3>
            </div>

            <div class="row">
                <h3 class="text-center">Você tem certeza que quer sair?</h3>
            </div>
        </div>
    </div>
{% endelement %}

<div class="container">
    <div class="col-md-12 text-center">
        <form method="post" action="/accounts/logout/">
            {% csrf_token %}
            <input type="hidden" name="csrf_protect" value="CI64JH8RDEVRHCLFMVZB5F0gqteXdJ1bvC4hdE3ippE2ejgehEZ2Cg5tTecIzxJv">
            <button type="submit" class="btn btn-outline-danger">Sair</button>
        </form>
    </div>
</div>
    
{% endblock content %}
