# Ambiente virtual
.venv/
# Arquivos django
migrations/
users/migrations
tasks/migrations
# Arquivos de cache do Python
__pycache__/
*.py[cod]

# Arquivos de configurações do VS Code
.vscode/

# Banco de dados SQLite (caso esteja usando)
db.sqlite3

# Arquivos de log
*.log