{% extends 'base.html' %}
{% block title %}Minhas Organizações{% endblock %}
{% block content %}

<div style="
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
">
  <h3 class="title_details_org mb-3">Minhas Organizações</h3>
  <a href="{% url 'home' %}" class="btn mb-4" 
    style="
      background-color: #344767;
      border: solid 0.04rem #34476757;
      text-decoration: none; 
      color: #fff; 
    ">
      Voltar
    </a>
</div>
<div class="container">
    <div class="row gx-3 gy-4">
        {% for org in orgs %}
        <div class="col-12 col-sm-6 col-md-4">
            <a href="{% url 'set_active_org' org.organization.id %}" style="text-decoration: none; color: inherit;">
                <div class="card h-100 shadow-sm 
                    {% if org.organization.id == request.user.org_active.id %}
                        border-3 border-success
                    {% else %}
                        border border-secondary
                    {% endif %}">
                    <div class="card-body">
                        <h5 class="card-title">{{ org.organization.name_org }}</h5>
                        <p class="card-text">{{ org.role }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% empty %}
        <p>Você não está associado a nenhuma organização.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}
