{% extends 'base.html' %}
{% block title %}Minhas Organizações{% endblock %}
{% block content %}

<h3 class="title_details_org">Minhas Organizações</h3>

    {% for org in orgs %}
    <div class="container">
        <div class="row">
          <div class="col-sm" style="border: solid 1px #3333;">
            <!-- colocar a org_active em destaque 
                 fazer front -->
            <a href="{% url 'set_active_org' org.organization.id %}">
                <p>{{ org.organization.name_org }}</p>
                <p>{{ org.role }}</p>
            </a>
          </div>
        </div>
    </div>
    {% empty %}
    <p>Você não está associado a nenhuma organização.</p>
    {% endfor %}

{% endblock %}