<!DOCTYPE html>

{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Site{% endblock %}</title>
</head>
<body>

    <header class="text-bg-primary">
        <nav>
            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Contato</a></li>
                {% if user.is_authenticated %}
                    <li><a href="#">Sair</a></li>
                {% else %}
                    <li><a href="#">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <div {% if message.tags %}class="alert alert-{{ message.tags }} alert-dismissible fade show"{% endif %} role="alert">
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                </ul>
            {% endif %}

        {% block content %}
        <!-- O conteúdo das páginas será inserido aqui -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 - Meu Site. Todos os direitos reservados.</p>
    </footer>

</body>
</html>
