{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Cadastro{% endblock title %}Teste

{% block content %}

<main class="main-content main-content-bg mt-0">
    <section>
      <div class="page-header min-vh-75">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
              <div class="card card-plain mt-sm-8 mt-7 mt-md-5">
                <div class="card-header pb-0 text-left ">
                  <h3 class="font-weight-bolder text-primary text-gradient">Cadastre-se</h3>
                  <p class="mb-0">
                    Digite seu e-mail e senha para se cadastra</p>
                </div>
                <div class="card-body pb-3">
                    <form action="{% url 'account_signup' %}" method="POST">
                        {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn bg-gradient-primary w-100 mt-4 mb-0">
                                🚀 Cadastrar
                            </button>
                            
                    </form> 
                </div>
                <div class="card-footer text-center pt-0 px-sm-4 px-1">
                  <p class="mb-4 mx-auto">
                    Já possui uma conta?
                    <a href="{% url 'account_login' %}" class="text-primary text-gradient font-weight-bold">Entrar</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url('../../../static/soft-ui/img/curved-images/curved11.jpg')"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>


{% endblock %}