<<<<<<< HEAD
*{
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    background: #f9f9f9;
}

.row {
     margin-right: 0;
     margin-left: 0;
}

.navigation-page{
    margin-top: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.controller-icon-navigation{
    display: inline-block;
    height: 50px;
    padding-top: 8px;
    margin-right: 5px;
}

.controller-icon-navigation{
    cursor: pointer;
}

.gray-color{
    color: #aaa;
}

.blue-color{
    color: #2a306e;
}

.pagination{
    margin: 0;
}

.pagination>li>a, .pagination>li>span{
    height: 50px;
    padding: 15px 12px;
}

.matricula-input-navigation input{
    border: 0;
    text-align: center;
    height: 48px;
}

.matricula-input-navigation{
    padding: 0 !important;
    height: 50px;
}

.container-matricula{
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #fff;
    margin-bottom: 30px;
}

.title-main-matricula{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    background: #eee;
    padding: 10px;
}

.status-closed-matricula{
    font-weight: normal;
}

.container-controller{
    float: right;
    margin-top: -8px;
}

.container-controller-icon{
    display: inline-block;
    padding-top: 8px;
}

.container-controller-icon a{
    color: #626262;
    cursor: pointer;
}

.container-controller-icon a:hover{
    text-decoration: none;
}

.with-badge-icon{
    right: -10px;
    position: relative;
}

.badge{
    position: relative;
    background: red;
    color: #fff;
    border-radius: 50%;
    top: -10px;
    left: -20px;
}

.content-matricula{
    padding: 10px;
}

.content-matricula div{
    padding: 0;
}

.subtitle-main-matricula{
    padding: 10px;
    background: #eeeeee;
}

.subtitle-main-matricula div{
    padding: 0;
}

.subtitle-text{
    font-size: 16px;
    font-weight: bold;
}

.alert-cancelled{
    font-size: 16px;
    color: #ff0000;
    font-weight: bold;
}

.number-table, .percent-table, .name-table{
    font-weight: bold;
}

.number-table, .percent-table{
    margin-right: 10px;
}

.name-table{
    text-transform: uppercase;
}

.font-bold{
    font-weight: bold;
}

.icons-content-matricula{
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
}

.icons-content-matricula a{
    color: #626262;
    cursor: pointer;
}

.margin-bottom-matricula{
    margin-bottom: 10px;
    padding: 0;
    clear: both;
    float: left;
    width: 100%;
=======
*{
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    background: #f9f9f9;
}

.row {
     margin-right: 0;
     margin-left: 0;
}

.navigation-page{
    margin-top: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.controller-icon-navigation{
    display: inline-block;
    height: 50px;
    padding-top: 8px;
    margin-right: 5px;
}

.controller-icon-navigation{
    cursor: pointer;
}

.gray-color{
    color: #aaa;
}

.blue-color{
    color: #2a306e;
}

.pagination{
    margin: 0;
}

.pagination>li>a, .pagination>li>span{
    height: 50px;
    padding: 15px 12px;
}

.matricula-input-navigation input{
    border: 0;
    text-align: center;
    height: 48px;
}

.matricula-input-navigation{
    padding: 0 !important;
    height: 50px;
}

.container-matricula{
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #fff;
    margin-bottom: 30px;
}

.title-main-matricula{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    background: #eee;
    padding: 10px;
}

.status-closed-matricula{
    font-weight: normal;
}

.container-controller{
    float: right;
    margin-top: -8px;
}

.container-controller-icon{
    display: inline-block;
    padding-top: 8px;
}

.container-controller-icon a{
    color: #626262;
    cursor: pointer;
}

.container-controller-icon a:hover{
    text-decoration: none;
}

.with-badge-icon{
    right: -10px;
    position: relative;
}

.badge{
    position: relative;
    background: red;
    color: #fff;
    border-radius: 50%;
    top: -10px;
    left: -20px;
}

.content-matricula{
    padding: 10px;
}

.content-matricula div{
    padding: 0;
}

.subtitle-main-matricula{
    padding: 10px;
    background: #eeeeee;
}

.subtitle-main-matricula div{
    padding: 0;
}

.subtitle-text{
    font-size: 16px;
    font-weight: bold;
}

.alert-cancelled{
    font-size: 16px;
    color: #ff0000;
    font-weight: bold;
}

.number-table, .percent-table, .name-table{
    font-weight: bold;
}

.number-table, .percent-table{
    margin-right: 10px;
}

.name-table{
    text-transform: uppercase;
}

.font-bold{
    font-weight: bold;
}

.icons-content-matricula{
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
}

.icons-content-matricula a{
    color: #626262;
    cursor: pointer;
}

.margin-bottom-matricula{
    margin-bottom: 10px;
    padding: 0;
    clear: both;
    float: left;
    width: 100%;
>>>>>>> 665a9ef9195daa56d1509e514692ae2497b40883
}