#cssmenu > ul {
    text-align: center;
    list-style: none;
    color: #BBB;
}

#cssmenu > ul > li {
    list-style: none;
    text-align: center;
    color: #BBB;
}

#cssmenu > ul > li > a {
    text-align: center;
    text-decoration: none;
    color: #BBB;
}

#cssmenu ul li.has-sub:hover > ul,
#cssmenu ul li.has-sub:hover > div {
    display: block;
    text-align: center;
    color: #BBB;
}

#cssmenu ul li > ul,
#cssmenu ul li > div {
    display: none;
    text-align: center;
    color: #BBB;
    z-index: 999;
}


#cssmenu ul li > ul li a {
    color: #BBB;
    text-align: center;
}

#cssmenu{
    text-align: center;
    padding-bottom: 50px;
    margin-letf: auto;
    margin-right: auto;
}
