{% extends 'base.html' %}
{% load static %}

{% block title %}{{ request.user.org_active.name_org }}{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'home.css' %}">
<div class="header_details_org">
  <h3 class="title_details_org">{{ request.user.org_active.name_org }}</h3>
  
    {% if role_user == "owner" %}
    <div class="role owner owner_border">Proprietário</div>
    {% elif role_user == "admin" %}
    <div class="role admin admin_border">Administrador</div>
    {% else %}
    <div class="role member member_border">Membro</div>
    {% endif %}
</div>


{% if role_user == "owner" or role_user == "admin" %}
<!-- Arquivo CSS não carrega -->
<div style="margin: 1.5% 0%;">
  {% if role_user == "owner"%}
  
  {% endif %}
  <button type="button" class="btn bg-gradient-success" style="margin: 0%;" data-bs-toggle="modal" data-bs-target="#exampleModal" 
    hx-get="{% url 'creat_user' %}" hx-target=".modal-body" hx-swap="innerHTML">
    Adcionar 
</button>
</div>

<div class="d-flex justify-content-center mb-0">
  <h4>Membros da Organização</h4>
</div>
<!-- Aqqui mostra todas as tarefas -->
  <div class="card">
    <div class="table-responsive">
      <table class="table align-items-center mb-0 table-striped" >
        <thead>
          <tr>
            <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-8">Nome</th>
            <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-8">Email</th>
            <th class="text-center text-uppercase text-dark text-xxs font-weight-bolder opacity-8 ps-2">Função</th>
            <th class="text-center text-uppercase text-dark text-xxs font-weight-bolder opacity-8">Início</th>
            <th class="text-dark opacity-8"></th>
          </tr>
        </thead>
        <tbody id="user_table">
          {% for member in membership %}
            {% include 'user/member_row.html' %}
          {% empty %}
          <tr>
            <td colspan="4" class="text-center text-muted">Nenhum membro encontrado.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>




{% else %}
<!-- Aqui mostra as tarefas du usuario -->
AQUI é pra membro
{% endif %}

    <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Criar User</h5>
          <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}

{% endblock %}
