<button type="button" class="btn bg-gradient-success my-2 ms-8" style="margin: 0% 0.5% 0% 0%;" 
  data-bs-toggle="modal" data-bs-target="#CreateTaskModal" 
  hx-get="{% url 'tasks:create_tasks' %}" 
  hx-target=".modal-body-create-task" 
  hx-swap="innerHTML">
  Nova Atividade (user)
</button>

<div class="d-flex flex-column justify-content-center align-items-center" style="width: 100%;">
  <div style="width: 80%;">
      <h4 style="width: 100%; text-align: center;">Minhas Tarefas</h4>
      <div class="card">
        <div class="table-responsive">
          <table class="table align-items-center mb-0 table-striped" >
            <thead>
              <tr>
                <th class="text-uppercase text-dark text-sm font-weight-bolder opacity-8">Titulo</th>
                <th class="text-center text-uppercase text-dark text-sm font-weight-bolder opacity-8">Categoria</th>
                <th class="text-center text-uppercase text-dark text-sm font-weight-bolder opacity-8">Validade</th>
                <th class="text-center text-uppercase text-dark text-sm font-weight-bolder opacity-8">Coment.</th>
                <th class="text-dark opacity-8"></th>
              </tr>
            </thead>
            <tbody id="tasks_table">
              {% for task in tasks_user %}
                {% include 'tasks/row_tasks.html' with task=task %}
              {% empty %}
              <tr>
                <td colspan="4" class="text-center text-muted">Nenhuma tarefa encontrada.</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
   
  </div>
</div>


<div class="modal fade" id="CreateTaskModal" tabindex="-1" role="dialog" aria-labelledby="CreateTaskModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="CreateTaskModalLabel">Criar Tarefa</h5>
        <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body-create-task">
        
      </div>
    </div>
  </div>
</div>