{% extends 'tasks/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ org }}</title>
</head>
{% block content %}
<body>
<h3>{{ org }}</h3>

    {% for membro in membros %}

    <ul>
        <li>
            {% if membro.user.id == user.id %}
            {{ membro.user.get_username }} - {{ membro.get_role_display }}
            {% else %}
            {{ membro.user.get_username }} - {{ membro.get_role_display }}  <a href="https://google.com">Expulsar Membro</a>
            {% endif %}
        </li>
    </ul>

    {% endfor %}
</body>
{% endblock content %}
</html>