{% extends 'tasks/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ org }}</title>
</head>
{% block content %}
<body>
<h3>{{ request.user.current_organization.first }}</h3>

{% for membro in object_list %}

<ul>
    {% if role == 'owner' or role == 'admin' %}
    <li>
        {{ membro.user.get_short_name }} - {{ membro.get_role_display }} <a href="{% url 'editar_membro' membro.user.id %}" class="btn">Editar Membro</a>
    </li>
    {% else %}
    <li>
        {{ membro.user.get_short_name }} - {{ membro.get_role_display }}
    </li>
    {% endif %}
</ul>

{% endfor %}
{% if role == 'owner' or role == 'admin' %}
<p>
    <a href="{% url 'criar_membro' %}" class="btn">Adicionar Novo Membro</a>
</p>
{% endif %}

</body>
{% endblock content %}
</html>