{% extends 'base.html' %}

{% block content %}
<h2>Escolha sua equipe</h2>
<h3>Você está na {{ user.current_organization }}</h3>
<form id="trocarEquipeForm" method="POST" action="{% url 'trocar_perfil' org_id='0' %}">
    {% csrf_token %}
    <select id="organizationSelect" name="organization">
        {% for membership in organizations %}
        <option value="{{ membership.organization.id }}">
            {{ membership.organization.name }}
        </option>
        {% endfor %}
    </select>
    <button type="submit" class="btn">Trocar</button>
</form>

<script>
    document.getElementById('organizationSelect').addEventListener('change', function() {
        var selectedOrgId = this.value;
        var form = document.getElementById('trocarEquipeForm');
        form.action = "{% url 'trocar_perfil' org_id='0' %}".replace('0', selectedOrgId);
    });
</script>

{% endblock content %}