{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Categorias</h1>
        <table class="table table-striped align-middle">
            <thead>
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Nome</th>
                <th scope="col" class="text-center">Ações</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
            <tr>
                <th scope="row" class="text-center">{{ forloop.counter }}</th>
                <td class="text-center">{{ category.name }}</td>
                <td class="text-center">
                <a href="{% url 'category_update' category.pk %}" class="btn m-0 btn-sm btn-warning">Editar</a>
                <a href="{% url 'category_delete' category.pk %}" class="btn m-0 btn-sm btn-danger">Excluir</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">Nenhuma categoria encontrada.</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}
