{% load crispy_forms_tags %}

{% block content %}
  <h5 class="modal-title ms-3 mt-3 ">Adcionar Categoria</h5>

  <form class="p-3" hx-post="{% url 'tasks:create_category' %}" hx-target='#category_table' hx-swap="beforeend" hx-disabled-elt= "find button[id='save'], find button[id='close']">
    {% csrf_token %}
    {{form|crispy}}
    <div class="mt-4">
      <button type="submit" id="save" class="btn bg-gradient-success me-2">Salvar</button>
      <button type="button" id="close" class="btn bg-gradient-danger" data-bs-dismiss="modal">Cancelar</button>
    </div>
  </form>

  <script>

    document.body.addEventListener("htmx:afterSettle", function (event) {
    const modal = bootstrap.Modal.getInstance(document.getElementById("categoryModal"));
    if (modal) {
      modal.hide();
    }
  });
   
  </script>
{% endblock %}
