<button type="button" class="btn bg-gradient-success my-2"
  data-bs-toggle="modal" data-bs-target="#categoryModal"
  hx-get="{% url 'tasks:create_category' %}"  
  hx-target=".modal-category-body" 
  hx-swap="innerHTML">
  Adicionar
</button>

<div style="width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
  <div style="width: 60%;" class="my-2">
    <h4 style="width: 100%; text-align: center;">Categorias</h4>
      <div class="card">
        <div class="table-responsive">
          <table class="table align-items-center mb-0 table-striped" >
           <thead>
              <tr>
                <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-8">Titulo</th>
                <th class="text-dark opacity-8"></th>
                </tr>
                </thead>
                <tbody id="category_table">
                  {% for category in categories %}
                    {% include 'category/row_category.html' with category=category %}
                  {% empty %}
                  <tr>
                    <td colspan="4" class="text-center text-muted">Nenhuma tarefa encontrada.</td>
                  </tr>
                  {% endfor %}
          
                </tbody>
              </table>
            </div>
      </div>
  </div>
</div>



