{% extends 'tasks/base.html' %}

{% block title %} GTV | Dashboard {% endblock %}
{% block content %}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
            <!-- Card header -->
            <div class="card-header pb-0">
            <div class="d-lg-flex">
              <div>
                <h5 class="mb-0">Todas as tarefas</h5>
                <p class="text-sm mb-0">
                  Gerencie, acompanhe, modifique e faça suas tarefas.
                </p>
              </div>
              <div class="ms-auto my-auto mt-lg-0 mt-4">
                <div class="ms-auto my-auto">
                  <a href="{% url 'task_create' %}" class="btn bg-gradient-primary btn-sm mb-0">+&nbsp; ADICIONAR TAREFA</a>

            </div>
        </div>
    </div>
</div>
          <div class="card-body px-0 pb-0">
            <div class="table-responsive">
              <table class="table table-flush" id="products-list">
                <thead class="thead-light">
                  <tr>
                    <th class='text-center'>Tarefa</th>
                    <th class='text-center'>Data limite</th>
                    <th class='text-center'>Responsável</th>
                    <th class='text-center'>Categoria</th>
                    <th class='text-center'>Status</th>
                    <th class='text-center'>Ações</th>
                  </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                  <tr>
                    <td>
                      <div class="d-flex">
                        <div class="form-check my-auto">
                          <input class="form-check-input" type="checkbox" id="customCheck1" checked>
                        </div>
                        <h6 class="ms-3 my-auto">{{task.title}}</h6>
                      </div>
                    </td>
                    <td class="text-sm text-center">{{ task.deadline }}</td>
                    <td class="text-sm text-center">{{ task.member }}</td>
                    <td class="text-sm text-center">{{ task.categoria | default:"-" }}</td>
                    {% if task.status == 'todo' %}
                    <td class="text-center align-middle">
                        <span class="badge badge-secondary badge-sm ">{{ task.get_status_display }}</span>
                    </td>
                    
                    {% elif task.status == 'doing' %}
                    <td class="text-center align-middle">
                        <span class="badge badge-warning badge-sm">{{ task.get_status_display }}</span>
                    </td>

                    {% elif task.status == 'done' %}
                    <td class="text-center align-middle">
                        <span class="badge badge-success badge-sm">{{ task.get_status_display }}</span>
                    </td>

                    {% endif %}
                    <td class="text-sm text-center">
                      <a href="javascript:;" data-bs-toggle="tooltip" data-bs-original-title="Preview product">
                        <i class="fas fa-eye text-secondary"></i>
                      </a>
                      <a href="javascript:;" class="mx-3" data-bs-toggle="tooltip" data-bs-original-title="Edit product">
                        <i class="fas fa-user-edit text-secondary"></i>
                      </a>
                      <a href="javascript:;" data-bs-toggle="tooltip" data-bs-original-title="Delete product">
                        <i class="fas fa-trash text-secondary"></i>
                      </a>
                    </td>
                  </tr>

                  {% empty %}
                  <tr>
                    <td colspan="6" class="text-center text-muted">
                      Nenhuma tarefa registrada ainda.
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
                {% if tasks|length > 7 %}
                <thead class="thead-light">
                    <tr>
                      <th>Tarefa</th>
                      <th>Data limite</th>
                      <th>Responsável</th>
                      <th>Responsável</th>
                      <th>Categoria</th>
                      <th>Ação</th>
                    </tr>
                </thead>
                {% endif %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>


{% endblock %}


{% comment %} <a href="{% url 'task_create' %}">Criar task</a>
</ul> {% endcomment %}

